@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<style>
    .btn-primary{
        margin-left:350px;
        margin-top:20px;
    }
</style>

<script src="~/Content/js/cookie/jquery.cookie.js"></script>
<script src="~/Content/js/md5/jquery.md5.js"></script>
<script>


    var keyValue = "@NFine.Code.OperatorProvider.Provider.GetCurrent().UserId";
    var Id = "@NFine.Code.OperatorProvider.Provider.GetCurrent().Id";

    function getUserId(keyvalue) {
        var UserId = "";
        var init = function () {
            $.ajax({
                url: "/SystemManage/User/GetUserIDsJson",
                data: { F_ID: keyvalue },
                datatype: "text",
                async: false,
                success: function (data) {
                    UserId = data;
                }
            })
        }
        init();
        return UserId;
    }

    $(function () {
        isadministrator_disable();
        if (!!keyValue) {
            var Id= getUserId(keyValue);
            $.ajax({
                url: "/SystemManage/User/GetFormJson",
                data: { Id: Id },
                dataType: "json",
                async: false,
                success: function (data) {
                    //alert(JSON.stringify(data));
                    $("#F_Signature").val(data["F_Signature"]);
                    $("#F_Account").val(data["F_Account"]);
                }
            });
        }
    });
    $(function () {
        if (!!keyValue) {
            var Id = getUserId(keyValue);
            $.ajax({
                url: "/OCManage/UserInfo/GetFormJsonById",
                data: { id: Id },
                dataType: "json",
                async: false,
                success: function (data) {
                    //alert(JSON.stringify(data));
                    $("#F_Balance").val(data["F_Balance"]);
                }
            });
        }
    });

    function isadministrator_disable() {
        var tr = document.getElementById("F_Signature");
        var isadministrator = "@NFine.Code.OperatorProvider.Provider.GetCurrent().IsSystem"
        if (isadministrator)
            tr.disabled = false;
    }

    function submitForm() {
        var postData = $("#form1").formSerialize();
        postData["userPassword"] = $("#F_UserPassword").val();
        postData["keyValue"] = keyValue;
        postData["Id"] = Id;
        if (!$('#form1').formValid()) {
            return false;
        }
        else {
            if ($("#F_UserPassword").val() == "") {
                $(function () {
                    if (window.confirm('确认修改？')) {
                        $.submitForm({
                            url: "/SystemManage/User/SubmitMark",
                            param: postData,
                            success: function () {
                                $.loading(false)
                            }
                        })
                        return true;
                    }
                    else { return false; }
                })
            }
            else if ($("#F_UserPassword").val() != $("#F_UserPassword2").val()) {
                alert("两次输入新密码不一致");
                return false;
            }
            else {
                $.ajax({
                    url: "/SystemManage/User/CheckPwd",
                    data: { username: $.trim($("#F_Account").val()), password: $.md5($.trim($("#F_OldPassword").val())) },
                    type: "post",
                    dataType: "json",
                    success: function (data) {
                        //密码正确后再提交
                        if (data.state == "success") {
                            $.submitForm({
                                url: "/SystemManage/User/SubmitRevisePassword",
                                param: postData,
                                success: function () {
                                    $.loading(false)
                                }
                            })
                        } else {
                            alert("原密码不正确！"+JSON.stringify(data));
                            return false;
                        }
                    }
                });
            }
        }
    }
</script>
<form id="form1">
    <div style="padding-top: 30px; margin-right: 40px;">
        <table class="form">
            <tr>
                <th class="formTitle">用户名</th>
                <td class="formValue">
                    <input id="F_RealName" name="F_RealName" readonly type="text" class="form-control" value="@NFine.Code.OperatorProvider.Provider.GetCurrent().UserName"/>
                </td>
                <th class="formTitle">用户ID</th>
                <td class="formValue">
                    <input id="F_UserId" name="F_UserId" readonly type="text" class="form-control" value="@NFine.Code.OperatorProvider.Provider.GetCurrent().Id" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">帐号</th>
                <td class="formValue">
                    <input id="F_Account" name="F_Account" readonly type="text" class="form-control" />
                </td>
                <th class="formTitle">当前余额</th>
                <td class="formValue">
                    <input id="F_Balance" name="F_Balance" type="number" class="form-control " readonly placeholder="0" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">旧密码</th>
                <td class="formValue">
                    <input id="F_OldPassword" name="F_OldPassword" type="password" class="form-control " placeholder="请输入旧密码" />
                </td>
                <th class="formTitle">签名</th>
                <td class="formValue">
                    <input id="F_Signature" name="F_Signature" type="text"  value="readonly" readonly class="form-control" />
                </td>
            </tr>
            <tr>   
                <th class="formTitle">新密码</th>
                <td class="formValue">
                    <input id="F_UserPassword" name="F_UserPassword" type="password" class="form-control " placeholder="请输入新密码" />
                </td>  
                <th class="formTitle">重输新密码</th>
                <td class="formValue">
                    <input id="F_UserPassword2" name="F_UserPassword2" type="password" class="form-control " placeholder="请再次输入新密码" />
                </td>
            </tr>
            <tr>
                <td>
                    <div style="padding-left: 115px;">
                      <a class="btn btn-primary" onclick="submitForm()">确认修改</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</form>
